---
import Job from "../Job.astro";
---

<Job
title="Web Programmer"
year="2011"
employer="College of Southern Maryland">
<div>
  <h3>Responsibilities</h3>
  <ul class="ul list-responsibilities">
    <li>Responsible for maintaining the function, accuracy, and accessibility of the college internet and intranet sites</li>
    <li>Develop standards and content management procedures for the internet/intranet</li>
    <li>Support the Marketing department in maintaining and managing content on the sites to ensure consistency and accuracy</li>
    <li>Directly responsible for the administration of the CMS OpenText and WordPress</li>
    <li>Work directly with faculty and staff to train them to use the CMS (OpenText and CM1), create CMS user accounts, support in creating new pages and content, and help users standardize and streamline their content within the system</li>
    <li>Deliver reports and graphs accessible via the internet/intranet</li>
    <li>Assist system and network administrators by ensuring the college uses the latest web technology</li>
    <li>Monitor and report web activity on the internet/intranet sites, using the data to plan improved ways to make the sites more accessible for all users</li>
    <li>Provide hands-on guidance and training to college stakeholders on the use of web development tools, programming languages, and design techniques</li>
    <li>Coordinate and assist with identifying and resolving college administration data, program, system, and work-flow issues</li>
    <li>Write and update web application manuals and guides for college faculty and staff</li>
    <li>Manage all custom online registration forms, surveys, applications, and RSVP forms for campus faculty and staff using Jotform and PHP</li>
  </ul>
  <h3>Achievements</h3>
  <ul class="ul list-achievements">
    <li>Conceptualized and redesigned the intranet in use by all faculty and staff</li>
    <li>Coordinated with campus Public Safety and launched a new Emergency Preparedness website that utilizes the latest web technology to provide mobile and desktop alerts to users within the community during crisis</li>
    <li>Awarded for going beyond the call of duty to support veterans at CSM in creating a custom site and providing the page owners the tools needed to maintain their site</li>
  </ul>
</div>
<div>
  <ul class="tags">
    <li>Adobe Creative Suite</li>
    <li><abbr title="Cascading Style Sheets">CSS</abbr></li>
    <li>Google Analytics</li>
    <li><abbr title="HyperText Markup Language">HTML</abbr>5</li>
    <li>JavaScript</li>
    <li>OpenText</li>
    <li><abbr title="Hypertext Preprocessor (PHP) Resources">PHP</abbr></li>
    <li>Piwik Analytics</li>
    <li>WordPress</li>
  </ul>
</div>
</Job>