---
import Job from "../Job.astro";
---

<Job
title="Front-End Web Developer"
year="2017"
employer="Emory University">
<div>
  <h3>Responsibilities</h3>
  <ul class="ul list-responsibilities">
    <li>Build complex, robust websites that draw on numerous data sources to create an immersive and interactive experience</li>
    <li>Support for blogging platforms, online video, message boards, and social media plugin integration</li>
    <li>Design and create intuitive and applicable user experiences through information architecture, graphic design, and user interface development</li>
    <li>Research current trends and needs, interviews key stakeholders and target audiences</li>
    <li>Identify and document user and technical requirements</li>
    <li>Develop production-quality mock-ups and interactive prototypes as well as production-ready graphics, interfaces, templates, and sites</li>
    <li>Consult with stakeholders and users to determine cost-effective and high-quality solutions and advise on the feasibility and direction for website initiatives</li>
    <li>Optimize sites for multiple viewports (responsive design), especially mobile devices</li>
    <li>Analyze client requirements to develop customized solutions that optimize function of <abbr title="Content Management System">CMS</abbr> Cascade and facilitate website maintenance</li>
  </ul>
  <h3>Achievements</h3>
  <ul class="ul list-achievements">
    <li>Redesigned the emory.edu homepage</li>
    <li>Created Emory Brand Pattern Library</li>
    <li>Code audit and development of Emory University Office of the President website</li>
    <li>Created responsive <abbr title="HyperText Markup Language">HTML</abbr> email for Emory Office of the President</li>
  </ul>
</div>
<div>
  <ul class="tags">
    <li><abbr title="Americans with Disabilities Act">ADA</abbr> Compliance</li>
    <li>Adobe Creative Suite</li>
    <li>Atomic Design</li>
    <li>Basecamp</li>
    <li><abbr title="Block Element Modifier">BEM</abbr></li>
    <li>Bootstrap 3/4/5</li>
    <li>Cascade CMS</li>
    <li>CSS3</li>
    <li>Formstack</li>
    <li>Foundation</li>
    <li>Github</li>
    <li>Google Analytics</li>
    <li>Gulp</li>
    <li>HTML5</li>
    <li>Inky Emails</li>
    <li>JavaScript</li>
    <li>Jotform</li>
    <li>Mustache</li>
    <li><abbr title="Mailjet Markup Language">MJML</abbr></li>
    <li>NodeJS</li>
    <li><abbr title="Hypertext Preprocessor (PHP) Resources">PHP</abbr></li>
    <li>Pug</li>
    <li><abbr title="Sassy Cascading Style Sheets">SCSS</abbr></li>
    <li>Section 508</li>
    <li>SiteImprove Analytics</li>
    <li>Visual Studio Code</li>
    <li>Vue.js</li>
    <li><abbr title="Windows, Apache, MySQL, and PHP">WAMP</abbr></li>
    <li>WCAG 2.1</li>
    <li>WordPress</li>
  </ul>
</div>
</Job>