---
import Job from "../Job.astro";
---

<Job
title="Senior Front-End Engineer"
year="2021"
employer="Fleetcor"
isPresent="true">
<div>
  <h3>Responsibilities</h3>
  <ul class="ul list-responsibilities">
    <li>Maintain strict WCAG 2.1 AA compliance across the Driven application</li>
    <li>Create and maintain the developer documentation showcasing and explaining how to use components and utilities</li>
    <li>Maintain the Core repository which holds the foundational code used in the Driven application</li>
    <li>Provide experise to developers regarding CSS/<abbr title="Sassy Cascading Style Sheets">SCSS</abbr>, accessibility, semantic HTML, and UI best practices</li>
    <li>Audit merge requests for accessibility concerns</li>
    <li>Maintain, train, and create new tools for use within Adobe Analytics</li>
    <li>Maintain and create new advertisements and alerts with Adobe Target</li>
    <li>Maintain the Icomoon custom icon repository</li>
  </ul>
  <h3>Achievements</h3>
  <ul class="ul list-achievements">
    <li>Developed an SVG-based framework for delivering icons to the client with options to use SCSS, HTML, and JavaScript to do so</li>
    <li>Built the entire <a href="https://ucx-core.sbx.myfleetcard.net/style-guide/" target="_blank">Developer Pattern Guide</a> and all components within from scratch. This reference is used by all developers across every team as a resource while working on sprint work.</li>
    <li>Hand-coded accessible replacements for various components used across the Driven application.
      <ul class="ul">
        <li><a href="https://ucx-core.sbx.myfleetcard.net/style-guide/#accordion" target="_blank">Accordion</a></li>
        <li><a href="https://ucx-core.sbx.myfleetcard.net/style-guide/#alerts" target="_blank">Alert pop-up banner</a></li>
        <li><a href="https://ucx-core.sbx.myfleetcard.net/style-guide/#dialog" target="_blank">Dialog/Modal</a></li>
        <li><a href="https://ucx-core.sbx.myfleetcard.net/style-guide/#range" target="_blank">Range Slider</a></li>
        <li><a href="https://ucx-core.sbx.myfleetcard.net/style-guide/#select" target="_blank">Select</a></li>
        <li>...and absolutely everything else on that page</li>
      </ul>
    </li>
    <li>Created multiple rounds of developer training sessions covering topics such as SCSS, accessibility, native HTML elements, semantic HTML, and client-side validation</li>
  </ul>
</div>
<div>
  <ul class="tags">
    <li><abbr title="Americans with Disabilities Act">ADA</abbr> Compliance</li>
    <li>Adobe Analytics</li>
    <li>Adobe Experience Platform</li>
    <li>Adobe Target</li>
    <li>Agile</li>
    <li>CSS3</li>
    <li>Cucumber</li>
    <li>Gitlab</li>
    <li>HTML5</li>
    <li>Hugo</li>
    <li>JavaScript</li>
    <li>Jira</li>
    <li>NodeJS</li>
    <li>Pug</li>
    <li>SCSS</li>
    <li>Section 508</li>
    <li>Visual Studio Code</li>
    <li>WCAG 2.1</li>
  </ul>
</div>
</Job>