---
import Job from "../Job.astro";
---

<Job
title="Senior Front-End Engineer"
year="2021"
employer="Fleetcor"
isPresent="true">
<div>
  <h3>Responsibilities</h3>
  <ul class="ul list-responsibilities">
    <li>Maintain strict <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.1 AA compliance across the Driven application</li>
    <li>Create and maintain the developer documentation showcasing and explaining how to use components and utilities</li>
    <li>Maintain the Core repository which holds the foundational code used in the Driven application</li>
    <li>Provide experise to developers regarding <abbr title="Cascading Style Sheets">CSS</abbr>/<abbr title="Sassy Cascading Style Sheets">SCSS</abbr>, accessibility, semantic <abbr title="HyperText Markup Language">HTML</abbr>, and <abbr title="User Interface">UI</abbr> best practices</li>
    <li>Audit merge requests for accessibility concerns</li>
    <li>Maintain, train, and create new tools for use within Adobe Analytics</li>
    <li>Maintain and create new advertisements and alerts with Adobe Target</li>
    <li>Maintain the Icomoon custom icon repository</li>
  </ul>
  <h3>Achievements</h3>
  <ul class="ul list-achievements">
    <li>Hand-coded accessible replacements for various components used across the Driven application. <a href="https://codepen.io/fleetcor-driven" target="_blank">Samples on codepen</a>
      <ul class="ul">
        <li>Accordion</li>
        <li>Carousel</li>
        <li>Modal</li>
        <li>Off-canvas</li>
        <li>Toolbar</li>
        <li>Tooltip</li>
        <li>Tabs</li>
        <li>Dropdown</li>
      </ul>
    </li>
    <li>Created multiple rounds of developer training sessions covering topics such as SCSS, accessibility, native HTML elements, semantic HTML, and client-side validation</li>
  </ul>
</div>
<div>
  <ul class="tags">
    <li><abbr title="Americans with Disabilities Act">ADA</abbr> Compliance</li>
    <li>Adobe Analytics</li>
    <li>Adobe Experience Platform</li>
    <li>Adobe Target</li>
    <li>Agile</li>
    <li>CSS3</li>
    <li>Cucumber</li>
    <li>Gitlab</li>
    <li>HTML5</li>
    <li>Hugo</li>
    <li>JavaScript</li>
    <li>Jira</li>
    <li>NodeJS</li>
    <li>Pug</li>
    <li>SCSS</li>
    <li>Section 508</li>
    <li>Visual Studio Code</li>
    <li>WCAG 2.1</li>
  </ul>
</div>
</Job>