---
import Job from "../Job.astro";
---

<Job
title="Graphic and Web Designer"
year="2009"
employer="Resource Management Concepts, Inc.">
<div>
  <h3>Responsibilities</h3>
  <ul class="ul list-responsibilities">
    <li>Satisfy corporate and customer requests for creative and topical Power Point templates</li>
    <li>Design stylized charts and prepare marketing materials for corporate and customer needs</li>
    <li>Create custom iconography</li>
    <li>Design posters and flyers for corporate and customer campaigns</li>
    <li>Maintain content of corporate website</li>
    <li>Design custom templates and <abbr title="User Interface">UI</abbr> for corporate website</li>
  </ul>
  <h3>Achievements</h3>
  <ul class="ul list-achievements">
    <li>Prototyped and designed corporate website</li>
    <li>Created plaque concept pieces for the National Navy Medical Center of Bethesda</li>
    <li>Illustrated multiple Flash-based games for the <abbr title="Transportation Security Administration">TSA</abbr>, now distributed nationwide</li>
    <li>Designed over 20 posters and brochures for TSA's environmental stewardship outreach programs</li>
    <li>Independently composed page layout for corporate annual report</li>
    <li>Directed photographer during promotional employee photo-shoot</li>
    <li>Conceptualized and illustrated a logo for the Army National Guard; utilized subsequently during anti-terrorism conference</li>
  </ul>
</div>
<div>
  <ul class="tags">
    <li>Adobe Creative Suite</li>
    <li><abbr title="Cascading Style Sheets">CSS</abbr></li>
    <li>Google Analytics</li>
    <li><abbr title="HyperText Markup Language">HTML</abbr>5</li>
  </ul>
</div>
</Job>