---
import Job from "../Job.astro";
---

<Job
title="Web Developer"
year="2015"
employer="St. Mary's College of Maryland">
<div>
  <h3>Responsibilities</h3>
  <ul class="ul list-responsibilities">
    <li>Design and distribute responsive <abbr title="HyperText Markup Language">HTML</abbr> emails using the Zurb Ink framework</li>
    <li>Maintain <abbr title="Web Content Accessibility Guidelines">WCAG</abbr> 2.0 at the AA level across the website</li>
    <li>Create and provide training sessions for students, faculty, and staff to enable their use of the college website WordPress platform</li>
    <li>Write, maintain, and update web content guidelines for faculty and staff to ensure user-created content aligns with college mission and web best practices</li>
    <li>Responsible for maintaining the function, accuracy, and accessibility of the college WordPress multisites</li>
    <li>Provide graphic design and photography support</li>
    <li>Deliver web analytics reports from SiteImprove to Marketing team in order to further develop marketing campaign strategies</li>
    <li>Manage online registration, contact, and <abbr title="Répondez s'il vous plaît">RSVP</abbr> forms using Gravity Forms</li>
  </ul>
  <h3>Achievements</h3>
  <ul class="ul list-achievements">
    <li>Relaunched the Support, Admissions, and President’s websites</li>
    <li>Launched the Inclusion, Diversity, & Equity website</li>
    <li>Launched a campaign site for Giving Tuesday</li>
  </ul>
</div>
<div>
  <ul class="tags">
    <li><abbr title="Americans with Disabilities Act">ADA</abbr> Compliance</li>
    <li>Adobe Creative Suite</li>
    <li>Asana</li>
    <li>Atomic Design</li>
    <li><abbr title="Block Element Methodology">BEM</abbr></li>
    <li><abbr title="Cascading Style Sheets">CSS</abbr>3</li>
    <li>Drupal</li>
    <li>Foundation</li>
    <li>Github</li>
    <li>HTML5</li>
    <li>Inky emails</li>
    <li><abbr title="Hypertext Preprocessor (PHP) Resources">PHP</abbr></li>
    <li><abbr title="Sassy Cascading Style Sheets">SCSS</abbr></li>
    <li>Section 508</li>
    <li>SiteImprove Analytics</li>
    <li><abbr title="Windows, Apache, MySQL, and PHP">WAMP</abbr></li>
    <li>WCAG 2.0</li>
    <li>WordPress</li>
    <li>Zendesk</li>
  </ul>
</div>
</Job>