---
import Layout from '../layouts/Layout.astro';
import Main from '../components/Main.astro';
---

<Layout title="Kayla Pratt | A11y Front-End Web Developer">
	<main id="main">
		<Main />
	</main>
</Layout>
