<h2>Background</h2>
<p>I received a <abbr title="Bachelor of Science">B.S.</abbr> in Digital Design from Towson University and developed my skills as a graphic designer and web developer through jobs in contracting, higher education, and public schools.</p>
<p>Being a Southern Maryland native, I always look forward to catching blue crabs with my family and friends. By the way, <a href="https://www.letseatcake.com/old-bay-flavored-products/" target="_blank">Old Bay only belongs on crabs</a> 🦀.</p>
<h2>Web <abbr title="Accessibility">A11y</abbr>: A passion for inclusivity</h2>
<p><strong>Web accessibility</strong> is a passion of mine.</p>
<p>I have provided expertise and written code for numerous organizations and universities to secure their <strong>WCAG AA compliance</strong>, protecting them from <a href="https://www.accessi.org/blog/famous-web-accessibility-lawsuits/" target="_blank">legal troubles</a> and extending their web presence to a larger and more diverse audience.</p>
<h2>Going Native: Don't reinvent the wheel</h2>
<p>When working with large development teams on 2-week sprint cycles, we have a short window to create robust <abbr title="User Interface">UI</abbr> components.</p>
<p>Using native and semantic <abbr title="HyperText Markup Language">HTML</abbr>, we can eliminate hundreds of hours of development time in each sprint. In addition, we also spend less time making accessibility corrections thanks to the built-in accessibility features utilized by the <abbr title="Operating System">OS</abbr>, device, and web browser.</p>
<style>
  p + p {
    font-size: clamp(0.85rem, 1vw, 0.95rem);
  }
  * {
    margin-block-start: 1em;
  }
</style>