---
import Emory from "./jobs/Emory.astro";
import Fleetcor from "./jobs/Fleetcor.astro";
import SMCM from "./jobs/SMCM.astro";
import CSMD from "./jobs/CSMD.astro";
import RMC from "./jobs/RMC.astro";
---

<h2>Employment History</h2>
<ul>
  <Fleetcor />
  <Emory />
  <SMCM />
  <CSMD />
  <RMC />
</ul>
