<footer>
  <p>This was built using <a href="https://astro.build/" target="_blank">Astro</a>. Groovy!</p>
</footer>
<style>
  footer {
    text-align: center;
    font-size: clamp(0.75rem, 1vw, 1rem);
    background-color: var(--clr-darker);
  }
  p {
    max-inline-size: 100%;
  }
</style>