<footer aria-label="Main">
  <p>This was built using <a href="https://astro.build/" target="_blank">Astro</a>. Groovy! <a href="#top" class="skip">Back to top</a></p>
</footer>
<style>
footer {
  text-align: center;
  font-size: var(--font-size-sm);
  background-color: rgba(54, 62, 66, 0.5);
  box-shadow: 0 8px 32px 0 rgba(38, 44, 58, 0.37);
  backdrop-filter: blur( 4px );
  border-top: 1px solid rgba(54, 62, 66, 0.75);
}
p {
  max-inline-size: 100%;
}
</style>