---
import "../scss/site.scss";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/dm-serif-text';
import '@fontsource-variable/karla';
import '@fontsource/dm-mono';

export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Kayla Pratt's resume, biography, and code samples.">
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/resume/favicon.png" />
		<link rel="stylesheet" href="/resume/iconfont/index.css" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
		<main id="main" class="page-main">
			<slot />
		</main>
		<Footer />
	</body>
</html>

<style>
	@layer components {
		.page-main {
			container: page-main / inline-size;
		}
	}
</style>