@font-face {
  font-family: "Iconify Explorer Font";
  src: url("./iconfont.eot");
  src: url("./iconfont.eot") format("embedded-opentype"),
      url("./iconfont.ttf") format("truetype"),
      url("./iconfont.woff") format("woff"),
      url("./iconfont.woff2") format("woff2"),
      url("./iconfont.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
kay-icon {
  font-family: "Iconify Explorer Font" !important;
  font-size: 1em;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
kay-icon.bi\:arrows-angle-expand:before {
  content: "\e001";
}
kay-icon.bi\:cup-hot:before {
  content: "\e002";
}
kay-icon.bi\:x-lg:before {
  content: "\e003";
}
kay-icon.bxl\:codepen:before {
  content: "\e004";
}
kay-icon.bxl\:github:before {
  content: "\e005";
}
kay-icon.bxl\:linkedin-square:before {
  content: "\e006";
}
kay-icon.bxl\:stack-overflow:before {
  content: "\e007";
}
